/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@layer base {
  body {
    @apply text-slate-700;
  }
}

/* Material Menu Styling */
.mat-mdc-menu-panel {
  background-color: #ffffff !important;
}
